################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/traveldirectWebForms/images/magazine
/traveldirectWebForms/images/others
/traveldirectWebForms/images/parallax
/traveldirectWebForms/images/portfolio
/traveldirectWebForms/images/restaurant
/traveldirectWebForms/images/services
/traveldirectWebForms/images/shop
/traveldirectWebForms/images/clients
/traveldirectWebForms/images/events
/traveldirectWebForms/images/extras
/traveldirectWebForms/images/landing
/traveldirectWebForms/images/slider
/traveldirectWebForms/images/team
/traveldirectWebForms/images/testimonials
/traveldirectWebForms/images/blog
/traveldirectWebForms/images/about
/traveldirectWebForms/images/appshowcase
/traveldirectWebForms/images/author
*.psd
/traveldirectWebForms/images/wedding
/traveldirectWebForms/obj
/traveldirectWebForms/bin
/packages
