<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <!--Custom support from DMC Service email user@domain.com-->
    <add key="sendEmailTo" value="it@traveldirect.co.uk" />
    <add key="emailServerFrom" value="noreply@traveldirect.co.uk"/>
    <add key="emailServerHost" value="smtp.office365.com"/>
    <add key="emailServerUserName" value="smtp@traveldirect.co.uk"/>
    <add key="emailServerPsswrd" value="trvldrct@2479"/>
    <add key="emailServerPort" value="587"/>
    <add key="emailServerSSL" value="true"/>
    
    <add key="subscriptionThanksUrl" value="thanks-for-subscribing.html"/>
    <add key="contactThanksUrl" value="thank-you-for-contacting-travel-direct.html"/>
    

    <!-- Settings for Opportunities (leads) -->
    <add key="serviceAppUser" value="serviceapp@traveldirect.co.uk" />
    <add key="serviceAppPassword" value="trB82%Q2864" />
    <add key="salesSiteUrl" value="https://traveldirect.sharepoint.com/sales" />
  </appSettings>
    <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>